{% extends "base.html" %}
{% block content %}
    
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ p.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <!-- <a class="mr-2" href="#">{{ p.name }}</a> -->
              <!-- <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small> -->
            </div>
            <h2><a class="article-title" href="{% url 'single' p.id %}">{{ p.name }}</a></h2>
            <p class="article-content">{{ p.description }}</p>
            <h2 class="article-content">{{ p.price }}</h2>
          </div>
        </article>
{% endblock content %}